/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mouse+Memoirs&display=swap');

body {
    margin: 1rem;
    font-family: 'Ubuntu';
    text-align: center;
}
.roaring-lions-header {
    font-family: 'Lobster';
    text-align: center;
}

.header-container {
    background-color: rgb(243, 196, 139);
    font-family: 'Lobster';
    width: 100%;
}
.lion-gif {
    height: 50px;
    display: flex;
}
.homeHeading {
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
}
.not-found {
    font-family: 'Lobster';
    text-align: center;
}
.lion-not-found {
    height: 700px;
    width: 100%;
    background-size: cover;
}

.footer {
    font-family: 'Ubuntu';
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(243, 196, 139);
    bottom: 0;
    position: fixed;
}

.index-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center; 
  }

  .page-body {
    text-align: center;
    margin: 3rem;
    min-height: calc(100vh - 34px);
  }

 